# Python basics

### 1. Formatting

In [1]:
name = 'Yulia'
age = 34
"My name is {}, my age is {}".format(name, age)

'My name is Yulia, my age is 34'

In [2]:
"My name is {name}, my age is {age}".format(name=name, age=age)

'My name is Yulia, my age is 34'

In [3]:
s='hello'
s[1:]

'ello'

In [5]:
s[:3]

'hel'

In [6]:
s[1:3]

'el'

### 2. List

In [8]:
mu_list=[1,2,3]
print(mu_list)

[1, 2, 3]

In [11]:
mu_list.append(5)
mu_list

[1, 2, 3, 5, 5, 5]

In [12]:
next=[1,2,[3,4,[5,6,7]]]
print(next[2][2][2])

7

### 3. Map or dictionary

In [1]:
json={'name':'Yulia','age':34}
json.

{'age': 34, 'name': 'Yulia'}

In [2]:
json['age']

34

In [5]:
hash_map={'apple':'green','matrix':[1,2,3]}
hash_map['matrix'][1]

2

In [6]:
d={1:2,2:3}
d[1]

2

### 4. Inner and outer keys of dictionary

In [1]:
k={'outerkey':{'innerkey':22}}
k['outerkey']['innerkey']

22

In [ ]:
True
False

### 5. Tulpe

In [2]:
t = (1,2,3)
t

(1, 2, 3)

In [3]:
t=(1,2,1,1,1,1)
t

(1, 2, 1, 1, 1, 1)

### 6. list

In [69]:
my_list = [1,2,3,6]
my_list.index(1)

0

In [40]:
my_list.append(7)
my_list

[1, 2, 3, 6, 7, 7]

In [76]:
lst = [1,2,3,4,5]
lst.pop()

5

In [77]:
2 in lst

True

### 7. tuple vs list diff

In [6]:
my_tuple = (1,2,5,8)
my_tuple[0]

1

In [7]:
my_tuple[0] ='New'

TypeError: 'tuple' object does not support item assignment

### 8. set

In [9]:
my_set = {1,1,1,2,2,2,2,3,3,3,3}
my_set

{1, 2, 3}

### 9.dict

In [73]:
my_dict = {'key1':'value'}
my_dict['key1']
my_dict.items()

[('key1', 'value')]

In [74]:
my_dict.keys()

['key1']

### 10. set(list)

In [14]:
s = set([5,6,7,8,5,5,5])
s

{5, 6, 7, 8}

In [15]:
s.add(9)
s

{5, 6, 7, 8, 9}

### 11. Logical

In [16]:
(2<3) and (4>4)

False

In [19]:
(2>1) or (4>6)

True

### 12.if statement

In [20]:
if 2<3:
    print("True")

True

In [22]:
if 2>3:
    print("True")
else:
    print("False")

False

In [26]:
x=4
if x<3:
    print("if")
elif x==3:
    print("else if")
else:
    print("else")

else

### 13.For loop

In [28]:
seq = [1,5,7,88,9,3,65]
for item in seq:
        print(item)

1
5
7
88
9
3
65

In [29]:
i = 5
while i<6:
    print("True")
    break

True

### 14. range() -- generate numerical values

In [32]:
r = range(0,5)
for item in r:
    print("Range checking")

Range checking
Range checking
Range checking
Range checking
Range checking

In [35]:
for item in range(1,5):
   print ("Item {}".format(item))

Item 1
Item 2
Item 3
Item 4

In [37]:
s= list(range(0,5))
s

[0, 1, 2, 3, 4]

In [38]:
s=list(range(10))
s

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

### 15. List comprehention

instead of

In [41]:
my_list1 = [1,2,3,4]
my_list2= []
for num in my_list1:
    my_list2.append(num**2)
my_list2

[1, 4, 9, 16]

do this: my_list2 = [f(x) for x in my_list1]

In [42]:
my_list = [n**3 for n in my_list1]
my_list

[1, 8, 27, 64]

### 16. Functions

In [45]:
def print_anything(x):
    if (x>2):
        print ("More")
    else:
        print("Equals or less")
print_anything(3)
print_anything(2)

More
Equals or less

### 17. Triple eclosing quotes for function

In [47]:
def square(num):
    """
    This is a square of the num
    can have different line number
    """
    return (num**2)
sq = square(2)

4

To check documentation, click Shift + Tab

### 18. Lambdas

Use lambdas instead of:

In [48]:
# map(function_name, list)
my_list = [1,2,3,4]
def double(num):
    return (num*2)
my_new_list = list(map(double, my_list))
my_new_list

[2, 4, 6, 8]

Here Lambda expression instead of full def of the function

In [53]:
def double(num):
    return (num*2)
double2 = lambda var: var*2
print(double(2))
print(double2(2))

4
4

In [57]:
seq = [1,2,3,4]
lambda_seq=  list(map(lambda num : num*3, seq))
lambda_seq

[3, 6, 9, 12]

In [59]:
filter_seq = list(filter(lambda num: num>2, seq))
filter_seq

[3, 4]

### 19. Check the list of existing methods

s = 'hello', s. and click Tab

In [60]:
s='hello'
# s.index
# s.remove ...

In [61]:
s='Hello, my name is Yulia'
s.lower()

'hello, my name is yulia'

In [63]:
s.upper()

'HELLO, MY NAME IS YULIA'

In [62]:
s.split()

['Hello,', 'my', 'name', 'is', 'Yulia']

In [64]:
tweet  = 'Go Sport! #Sport'
tweet.split('#')[1]

'Sport'

### 20. Tuple impacking

List of tuples

In [80]:
x=[(1,2),(3,4),(5,6)]
x[0][1]

2

Instead of this:

In [81]:
for item in x:
    print(item)

(1, 2)
(3, 4)
(5, 6)

Do this!

In [82]:
for (a,b) in x:
    print(a)

1
3
5